/* nav */
.nav_bg_color {
  background: #eee;
}

a.menu_color {
  color: black;
}

/* content */
.img_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a.content {
  width: 30%;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

img.content {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #eee;
  box-shadow: 0 0 5px #999;
}

.img_container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
}

@media screen and (max-width: 900px) {
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .img_container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 4px 0;
  }
}