body {
  margin: 0;
}

p {
  font-family: serif;
}

/* header nav */

li {
  list-style: none;
  font-family: serif;
}

a.menu {
  display: block;
  text-decoration: none;
}

/* page_title */
.heading_box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
  font-family: serif;
}

.heading::before,
.heading::after {
  content: '';
  width: 70px;
  height: 3px;
  background-color: #e5c9e4;
}

.heading::before {
  margin-right: 20px;
}

.heading::after {
  margin-left: 20px;
}

/* swipper */
.custom_swiper_button_prev,
.custom_swiper_button_next {
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  -webkit-transition: #eee;
  transition: #eee;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #eee;
  box-shadow: #e5c9e4;
  filter: drop-shadow(6px 4px 10px gray);
  margin-left: 2%;
  margin-right: 2%;
  position: absolute;
}

.custom_swiper_button_prev {
  top: 40%;
  left: 0;
  z-index: 900;
}

.custom_swiper_button_next {
  top: 40%;
  right: 0;
  z-index: 900;
}

.custom_swiper_button_prev::after,
.custom_swiper_button_next::after {
  width: 0.5rem;
  height: 0.5rem;
  content: '';
  border: solid gray;
  border-width: 2px 2px 0 0;
}

.custom_swiper_button_prev::after {
  margin-left: 0.2rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.custom_swiper_button_next::after {
  margin-right: 0.2rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.swiper_pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.2rem 0.8rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 80px;
  text-align: center;
}

/* footer */
.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.footer_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
  width: 100%;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 8%;
}

.footer_menu {
  color: black;
  text-decoration: none;
  font-family: serif;
  font-size: 15px;
}

.copyrights {
  font-size: 14px;
  margin: 10px 0;
}

footer {
  background-color: #e5c9e4;
}

input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

/* media */

@media screen and (max-width: 600px) {
  .heading_box {
    margin-top: 50px;
  }

  .heading {
    font-size: 20px;
  }

  .header_nav {
    display: none;
  }

  a.menu {
    font-size: 14px;
  }

  .footer_container {
    padding: 10px 0;
  }

  .footer_menu {
    font-size: 14px;
  }

  .copyrights {
    margin: 5px 0;
  }

  .swiper_pagination {
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .custom_swiper_button_prev {
    top: 30%;
    left: 4%;
  }

  .custom_swiper_button_next {
    top: 30%;
    right: 4%;
  }
}