/* ---------- nav ---------- */
.nav_bg_color {
  background: transparent;
}

.add_bg_color {
  background: #eee;
}

.menu_color_white {
  color: white;
}

.menu_color_black {
  color: black;
}

/* ---------- first view ---------- */
img.top {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

h2.title {
  font-size: 40px;
  font-family: serif;
  color: white;
  position: absolute;
  top: 10%;
  left: 14%;
}

/* --------- animation ---------- */
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutAnime {
  from {
    opacity: 1;
    transform: translateY(100px);
  }

  to {
    opacity: 0;
    transform: translateY(0);
  }
}

/* ---------- animation content ---------- */
.animation_container {
  padding-top: 15%;
}

.animation_content_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 200px;
  position: relative;
  gap: 50px;
}

.box_first {
  width: 45%;
  height: 70%;
  background-color: #eee;
  position: absolute;
  left: 10%;
  bottom: 50%;
  border-radius: 8px;
  z-index: -1;
}

.box_second {
  width: 45%;
  height: 70%;
  background-color: #eee;
  position: absolute;
  right: 10%;
  bottom: 50%;
  border-radius: 8px;
}

.animation_text_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

p.animation_text {
  writing-mode: vertical-rl;
  font-size: 24px;
  opacity: 0;
  transform: translate(0, 0);
  width: 30%;
  margin: 10px
}

img.animation_img {
  width: 50%;
  border-radius: 20px;
}

.fadein {
  opacity: 0;
  transform: translate(0, 0);
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeOut {
  animation-name: fadeOutAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 1;
}

.vertical_hr {
  height: 35%;
  width: 2px;
  border-width: 0;
  color: #eee;
  background-color: #eee;
  position: absolute;
  top: 85%;
  left: 50%;
  z-index: 900;
}

/* ---------- news ---------- */
.news_title_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  margin-top: 20px;
}

p.news_title {
  align-self: center;
  font-weight: bold;
}

.news_content_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
}

.news_content_box {
  width: 30%;
  max-width: 300px;
  text-decoration: none;
  color: black;
}

/* ---------- news card ----------*/
.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.card p.image {
  margin: -10px -10px 0;
}

p.image img {
  vertical-align: top;
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
}

.card_title {
  font-family: serif;
  font-size: 17px;
  border-bottom: solid 1px black;
}

p.card_text {
  margin: 10px 0 0;
  font-size: 15px;
  white-space: pre-wrap;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.card:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.24);
  transform: translate(0, -2px);
}

/* ---------- more button --------- */

.more_button_box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}

a.more_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-weight: bold;
  color: black;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
}

a.more_button::after {
  content: '';
  width: 7px;
  height: 7px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
}

a.more_button:hover {
  border-bottom: 1px solid black;
}

/* ---------- collection ----------*/

.swiper_wrapper {
  position: relative;
  background-color: #eee;
  padding-top: 20px;
  margin-top: 80px;
  padding-bottom: 40px;
}

.swiper {
  margin-top: 80px;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

p.swiper_title {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 47%;
}

.swiper_slide {
  color: black;
  width: 100px;
  text-align: center;
}

.swiper_button_prev,
.swiper_button_next {
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  -webkit-transition: #eee;
  transition: #eee;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #eee;
  box-shadow: #e5c9e4;
  filter: drop-shadow(6px 4px 10px gray);
  margin-left: 2%;
  margin-right: 2%;
}

.swiper_button_prev::after,
.swiper_button_next::after {
  width: 0.5rem;
  height: 0.5rem;
  content: '';
  border: solid gray;
  border-width: 2px 2px 0 0;
}

.swiper_button_prev::after {
  margin-left: 0.2rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.swiper_button_next::after {
  margin-right: 0.2rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper_button_disabled {
  pointer-events: none;
  opacity: 0;
}

.swiper_pagination_bullet {
  width: 1.6rem !important;
  height: 4px !important;
  cursor: pointer !important;
  -webkit-transition: #fff !important;
  transition: #fff !important;
  vertical-align: top !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  border: 1px solid #333 !important;
}

.swiper_pagination_bullet_active {
  width: 4rem !important;
  height: 6px !important;
  background-color: #e5c9e4 !important;
  border: unset !important;
}

/* ---------- profiel ----------*/
.profiel_box {
  padding: 4% 0;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.profiel_title_box {
  background-color: #eee;
  width: 100%;
}

.profiel_title {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}

.profiel_content_box {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6%;
}

img.profiel {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
  border: 4px solid #e5c9e4;
}

.profiel_text {
  width: 30%;
  white-space: pre-wrap;
  word-break: break-all;
}

/* media */
@media screen and (max-width: 800px) {
  .news_content_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
  }

  .news_content_box {
    width: 90%;
    max-width: 90%;
  }

  p.image img {
    width: 100%;
    max-width: 100%;
    height: 80px;
    object-fit: cover;
    border-bottom: 3px solid #eee;
  }

  .card_title {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    border-bottom: none;
  }

  p.card_text {
    margin: 10px 0 0;
    font-size: 13px;
    -webkit-line-clamp: 3;
    display: none;
  }

  .profiel_box {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .profiel_content_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6%;
  }

  img.profiel {
    width: 250px;
    height: 250px;
  }

  .profiel_text {
    width: 80%;
    font-size: 14px;
  }
}


@media screen and (max-width: 600px) {
  .animation_content_box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    margin-bottom: 100px;
    position: relative;
    gap: 30px;
  }

  img.animation_img {
    width: 60%;
  }

  .box_first {
    width: 45%;
    height: 70%;
    background-color: #eee;
    position: absolute;
    left: 10%;
    bottom: 50%;
    border-radius: 8px;
    z-index: -1;
  }

  .box_second {
    width: 45%;
    height: 70%;
    background-color: #eee;
    position: absolute;
    right: 10%;
    bottom: 50%;
    border-radius: 8px;
  }

  p.animation_text {
    writing-mode: vertical-rl;
    font-size: 16px;
    opacity: 0;
    transform: translate(0, 0);
    width: 30%;
    margin: 0 8px;
  }

  .vertical_hr {
    height: 20%;
  }

  .swiper_wrapper {
    position: relative;
    background-color: #eee;
    padding-top: 50px;
    margin-top: 80px;
    padding-bottom: 20px;
  }

  .swiper {
    margin-top: 20px;
    padding-top: 0;
  }

  p.swiper_title {
    font-size: 18px;
    left: 38%;
    top: 0%
  }
}