/* nav */
.nav_bg_color {
    background: #eee;
}

a.menu_color {
    color: black;
}

/* content */
.news_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news_content_container {
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
    padding: 0 4px;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12), 0 2px 3px 0 rgba(0, 0, 0, .22);
    transition: .3s;
}

.news_content_container:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .1);
    transform: translateY(-4px);
}

.content_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding-bottom: 6px;
}

h4.content_title {
    width: 100.8%;
    margin: 0;
    background-color: #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 6px;
    padding: 2px;
    font-family: serif;
    border-bottom: 1px solid rgb(222, 217, 217);
}

img.content_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.content_text {
    margin: 0;
    font-size: 13px;
    height: 100px;
    white-space: pre-wrap;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

@media screen and (max-width: 600px) {
    .content_box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding-bottom: 6px;
    }

    img.content_img {
        width: 100%;
        height: 75px;
        object-fit: cover;
        border-radius: 8px;
    }

    .content_text {
        margin: 0;
        font-size: 12px;
        height: 55px;
        white-space: pre-wrap;
        word-break: break-all;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}